<div class="news">
<b>! We have 2 open PhD positions !</b> <br> 
More information on how to apply, see our <a href="https://bit.ly/3qg09Tt" target="_blank">job opening</a>.
  <ul>
    <li><b>03.12.2021</b> I will be starting my own research group within the 3AI project of  <a href="https://hessian.ai" target="_blank">hessian.ai</a> at TU Darmstadt.</li>
    <li><b>28.09.2021</b> Our paper on fast axiomatic attribution for neural networks has been accepted at NeurIPS '21.</li>
    <li><b>28.09.2021</b> Our paper on unsupervised learning for video object segmentation has been accepted at NeurIPS '21.</li>
    <li><b>20.05.2020</b> I will be joining the <a href="https://www.visinf.tu-darmstadt.de/" target="_blank">Visual Inference Lab</a>, led by Prof. Stefan Roth, at TU Darmstadt as a postdoc starting September 2020.</li>
  </ul>
</div>